/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>


/ {
    sensors {
        compatible = "zmk,keymap-sensors";
        sensors = <&encoder>;
    };

    keymap {
        compatible = "zmk,keymap";

        colemak_layer {
            bindings = <
                &mt LCTRL Q &kp W       &kp D       &kp P       &kp G       &kp B       &kp L       &kp U       &kp Y       &kp BSPC
                &kp A       &kp R       &kp S       &kp T       &kp F       &kp J       &kp N       &kp E       &kp I       &kp O
                &mt LSHFT Z &mt LALT X  &mt LGUI C  &lt 2 V     &lt 5 SPC   &lt 5 RET   &lt 3 H     &mt RGUI K  &mt RALT M  &mt RSHFT ESC
            >;
            sensor-bindings = <&inc_dec_kp LEFT RIGHT>;
        };

        qwerty_layer {
            bindings = <
                &mt LCTRL Q &kp W       &kp E       &kp R       &kp T       &kp Y       &kp U       &kp I       &kp O       &kp BSPC
                &kp A       &kp S       &kp D       &kp F       &kp G       &kp H       &kp J       &kp K       &kp L       &kp SEMI
                &mt LSHFT Z &mt LALT X  &mt LGUI C  &lt 2 V     &lt 5 SPC   &lt 5 ENT   &lt 4 B     &mt RGUI N  &mt RALT M  &mt RSHFT ESC
            >;
            sensor-bindings = <&inc_dec_kp LEFT RIGHT>;
        };

    };
};
